{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-8 col-md-7 my-auto">
            <h1 class="display-4 text-black mt-5">
                Bring Your <strong>Home</strong> to <strong>Life</strong>
            </h1>
            <h2 class="display-6 mt-2">
                We have the props, you direct the show...
            </h2>
            <div class="my-5 d-flex">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 m-2">Shop Now</a>
                </h4>
                <h4>
                    <a href="#" class="new-arrivals-button btn btn-lg rounded-0 text-uppercase py-3 m-2">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}