:root{
    --main-pink: #FF9F9F;
    --main-green: #80AD4F;

    --dark-secondary-pink: #FF6666;
}

body {
    background: url('/media/plant.png') no-repeat center right 10% fixed;
    background-size:contain;
    background-color: var(--main-pink);
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Lato';
    overflow-x: hidden;
    min-height: 100vh;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

footer{
    margin-top: 10rem;
    background-color: var(--main-green) !important;
}

.subscribe-btn{
    background-color: var(--dark-secondary-pink);
    border-radius: 0.5rem !important;
    padding: 0.5rem 2rem !important;
    color: white;
}

strong{
    font-weight: 1000;
    text-transform: uppercase;
}

.shop-now-button{
    background-color: var(--dark-secondary-pink);
    border-radius: 0.5rem !important;
    padding: 1rem 4rem !important;
    color: white;
}

.new-arrivals-button{
    background-color: transparent;
    border-radius: 0.5rem !important;
    padding: 0.8rem 3.8rem !important;
    color: white;
    border: 0.2rem white solid;
}


.main-nav{
    background-color: var(--main-pink) !important;
}

.secondary-nav{
    background-color: black !important;
}

.secondary-nav-heading{
    color: white !important;
}

.sale-nav-heading{
    background-color: var(--dark-secondary-pink) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 0.2rem;
}

.main-search{
    border: 0;
    height: 100%;
    width: 100%;
    outline: 0;
    background-color: #f5f5f5;
}

.main-search-btn{
    background-color: var(--dark-secondary-pink) !important;
    margin: 0;
    border-radius: 0 0.2rem 0.2rem 0;
    color: white;
}

.nav-item{
    color: white !important;
}

#delivery-banner{
    background-color: var(--main-green);
    overflow: hidden;
    white-space: nowrap;
}

#delivery-banner h4{
    font-size: 1rem;
    padding: 0.5rem 0 !important;
}

.fa-truck{
    padding: 0 2rem;
}